#modal-content {
    border-radius: 3px;
}

.modal-form {
    padding: 1.875rem 1rem;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-header {
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-input {
    display: block;
    padding: 1rem;
    width: 100%;
    font-weight: 500;
    font-size: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
}

.form-footer {
    font-weight: 500;
}

a {
    color: #da3743
}