.home-header {
    background-image: linear-gradient(90deg, rgba(47,45,65,.7), rgba(47,45,65,.7)), url(//cdn.otstatic.com/cfe/6/images/25161502-fbb7de.jpg);
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 26rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.home-body {
    padding: 0 32px 32px;
    max-width: 80rem;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
}

.restaurant-row {
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-top: 48px;
}

.carousel-header {
    box-sizing: border-box;
    border-bottom: 0.0625rem solid #d8d9db;
    padding-bottom: 16px;
    margin: 0 0 16px;
}

.carousel-header h2 {
    margin: 0 0 4px;
}

.carousel {
    height: 266px;
    display: flex;
    overflow-x: scroll;
    width: auto;
}