.profile-page {
  color: #2d333f;
  background-color: #f7f7f7;
}

.profile-page h1 {
  margin: 0;
  padding: 24px;
}

.profile-body {
  display: flex;
  flex-direction: row;
}

/* header */
.profile-header {
  background-color: #fff;
  width: 100%;
}

/* sidebar */
.profile-nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #999;
  padding: 24px;
}

.profile-nav a {
  margin: 8px 0 0;
  padding: 8px;
  
}

.profile-nav a:hover {
  color: #333
}


/* content */
.profile-content {
  width: 800px;
  padding: 16px;
}

.reservations-upcoming,
.reservations-past,
.profile-section-saved {
  background-color: #fff;
}

.profile-section-header {
  border-bottom: .0625rem solid #d8d9db;
  padding: 24px;
  margin-bottom: 0px;
  margin-top: 24px;
}

/* block */
.profile-res-block {
  height: 64px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: .0625rem solid rgba(0,0,0,.06);
  padding: 24px;
  justify-content: space-between;
}

.profile-block-left {
  display: flex;
  flex-direction: row;
}

.profile-header-photo {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.profile-header-photo img {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.profile-name {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 4px;
  font-weight: 550;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.profile-info-date,
.profile-info-time,
.profile-info-party {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 24px;
}

.profile-info-date span,
.profile-info-time span,
.profile-info-party span {
  margin: 0 8px;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
}

.profile-block-button {
  justify-self: flex-end;
  padding-right: 24px;
}

.profile-block-button button {
  background-color: #da3743;
  color: #fff;
  font-weight: 500;
  font-size: 0.5rem;
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  outline: 0;
  transition: background-color 300ms ease-out;
  cursor: pointer;
  border-color: #b8222d;
  border-width: 0;
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.profile-block-button button:hover {
  background-color: #b8222d;
  color: #fff;
}

.profile-block-none {
  padding: 24px;
  margin: 0;
}

.profile-block-none .link {
  text-decoration: none;
  padding-left: 8px;
  color: #237B98;
}

.profile-block-none .link:hover {
  color: #bb232e;
}