.profile-page {
  color: #2d333f;
  background-color: #f7f7f7;
}

.profile-body {
  display: flex;
  flex-direction: row;
}

/* header */
.profile-header {
  background-color: #fff;
  width: 100%;
}

/* sidebar */
.profile-nav {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #999;
}

.profile-nav a {
  margin: 8px 0 0;
  padding: 8px;
  
}

.profile-nav a:hover {
  color: #333
}


/* content */
.profile-content {
  width: 800px;
  padding: 16px;
}

.reservations-upcoming,
.reservations-past,
.profile-section-saved {
  background-color: #fff;
}

.profile-content h2 {
  width: 100%;
  border-bottom: .0625rem solid #d8d9db;
}

/* block */
.profile-res-block {
  width: 100%;
  height: 64px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  border-bottom: .0625rem solid rgba(0,0,0,.06);
  padding-bottom: 16px;
}

.profile-header-photo {
  width: 64px;
  height: 64px;
  margin-right: 16px;
  border-radius: 4px;
  overflow: hidden;
}

.profile-header-photo img {
  height: 100%;
  width: auto;
  overflow: hidden;
}

.profile-name {
  font-size: 24px;
  line-height: 28px;
  margin: 0 0 4px;
  font-weight: 550;
}

.profile-info {
  display: flex;
  flex-direction: row;
}

.profile-info-date,
.profile-info-time,
.profile-info-party {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 24px;
}

.profile-info-date span,
.profile-info-time span,
.profile-info-party span {
  margin: 0 8px;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
}