.resContent-body {
  margin-right: 16px;
  max-width: 640px;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 0 16px;
  background-color: white;
  position: relative;
  top: -48px;
  z-index: 0;
  color: #2d333f
}

.resContent-header {
  height: 48px;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid #d8d9db;
  display: flex;
  align-items: center;
  z-index: 2;
}

.resContent-header a {
  text-decoration: none;
  padding: 14px;
  display: inline-block;
  color: #2d333f;
}

.resContent-header a:hover {
  cursor: pointer;
  color: #da3743;
  border-bottom: 2px solid rgb(218, 55, 67);
  padding-bottom: 13px;
}

.resContent-name {
  border-bottom: 1px solid #d8d9db;
  font-size: 48px;
  padding: 3rem;
  line-height: 56px;
  font-weight: 700;
}

.resContent-info {
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
}

.resContent-cuisine {
  display: flex;
  flex-direction: row;
}

.resContent-reviews {
  display: flex;
  flex-direction: row;
  padding-right: 8px;
  margin: 0 16px;
}

.resContent-reviews-val {
  margin-right: 24px;
}

.resContent-cuisine i,
.resContent-reviews p,
.resContent-reviews .fa-comment-alt {
  padding-right: 8px;
  align-self: center;
}

.resContent-review-stars {
  margin-right: 8px;
  color: #da3743;
}

.resContent-reviews p {
  margin: 0 0 4px;
  font-size: 0.875rem;
}

.resContent-description {
  border-bottom: 1px solid #d8d9db;
  margin: 0 0 1rem 0;
  padding: 0 0 1rem 0;
}

.resContent-photos {
  display: flex;
  flex-direction: column;
}

.resContent-photolist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviews {
  margin-top: 1rem;
  width: 100%;
}