.reviews-content {
  width: 100%;
}

.reviews-title {
  width: 100%;
  border-bottom: 1px solid #d8d9db;
}

.reviews-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-overall {
  margin: 8px 0 16px;
}

.reviews-breakdown {
  display: flex;
  margin: 16px 0;
}

.reviews-breakdown-section {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-rating {
  border-left: 1px solid #d8d9db;
  border-right: 1px solid #d8d9db;
}

.reviews-recommendation {
  margin-top: 16px;
  display: flex;
  color: #6F737B
}

.reviews-recommendation i {
  margin-right: 8px;
  align-self: center;
}

.review-header-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #d8d9db;
  padding-bottom: 64px;
}

.no-reviews-note {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-review button {
  border: 1px solid #d8d9db;
  border-radius: 2px;
  width: 18rem;
  font-size: 16px;
  padding: 16px;
  margin: 16px;
  background-color: white;
}

.add-review button:hover {
  border: 2px solid #DA3743;
  margin: 15px 16px;
  cursor: pointer;
}

.reviews-body {
  padding: 16px 0;
}