.review-block-wrapper {
  display: flex;
  margin: 16px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 16px;
}

.review-block-numReviews {
  display: flex;
}

.review-block-numReviews .far {
  align-self: center;
}

.stars-line {
  display: flex;
}

.rating-line {
  display: flex;
}
