#modal-content {
    border-radius: 3px;
}

.modal-form {
    padding: 1rem 1.5rem;
    border-radius: 3px;
    box-sizing: border-box;
    width: 460px
}

.form-header {
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 0.2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.modal-form form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-input {
    display: block;
    padding: 1rem;
    width: 100%;
    font-weight: 500;
    font-size: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-bottom: 0.7rem;
    box-sizing: border-box;
}

.form-footer {
    font-weight: 500;
}

.account-button {
    background-color: #da3743;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: .875rem 1.75rem .9375rem;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    outline: 0;
    transition: background-color 300ms ease-out;
    cursor: pointer;
    border-color: #b8222d;
    border-width: 0;
    width: 100%;
    margin: 0.7rem 0;
}

.account-button:hover {
    background-color: #b8222d;
    color: #fff;
}

.demo-button {
    color: #da3743;
    background-color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: .875rem 1.75rem .9375rem;
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    outline: 0;
    cursor: pointer;
    border: 1px solid #da3743;
    margin: 0.7rem 0;
    width: 100%;
    transition: background-color 300ms ease-out;
}

.demo-button:hover {
    background-color: rgba(218, 55, 67, 0.2);
}